@import '../../assets/stylesheets/shared';

:local(.home-page) {
  flex: 1;
  background-size: cover;
  padding: 1.5em;
}

:local(.app-info) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 36px;
}

:local(.app-description) {
  white-space: pre-wrap;
  align-self: auto;
  font-size: 14pt;
  text-align: center;
  margin: 0.5em 0;
  margin-bottom: 1em;

  @media (min-width: $breakpoint-lg) {
    font-size: 18pt;
    align-self: flex-start;
    text-align: start;
  }
}

:local(.logo-container) {
  max-width: 550px;
  align-self: auto;

  @media (min-width: $breakpoint-lg) {
    align-self: flex-start;
  }

  img {
    width: 100%;
    height: auto;
  }
}


:local(.center-logo) {
  align-self: auto;
  margin: 24px 0;
}

:local(.cta-buttons) {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
}

:local(.featured-rooms) {
  width: 100%;
  background-color: var(--home-media-panel-background-color);
  border-radius: 1em;
}

:local(.secondary-links) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--home-header-link-color);

  & > * {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  img {
    width: 24px;
    height: 24px;
  }

  a { 
    color: var(--home-header-link-color);
    margin-right: 4px;
    margin-left: 2px;
  }
}

//Start CM3D
:local(.have-code) {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline-style: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 32px;
  border: 0;
  width: 250px;
  padding: 14px;
  text-decoration: none;
  background: white;
  color: var(--action-text-color, #202020);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  margin: 1em 12px 0.5em;
  white-space: nowrap;

  a {
    color: var(--home-header-link-color);
    text-decoration: none;
  }
  //End CM3D
}